
body {
    background-color: #fafafa;
    font-family: "Hack", monospace;
}

header {
    text-align: center;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 2rem;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.43rem;
  height: 2.6rem;
}

#menu-section {
  display: flex;
  justify-content: left;
  align-items: left;
  justify-self: center;
  gap: 0.6rem;
  margin-top: 1rem;
  background-color: #ed556408;
  border: 2px solid #d55642;
  border-radius: 2px;


  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;

  transition: width 0.5s ease, height 0.5s ease, opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

#menu-section.show {
  height: 3rem;
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.3s ease-in-out;
}

#add-button {
  aspect-ratio: 1;
  height: inherit;
  width: auto;
  background-image: url("images/add.svg");
}

#menu-button {
  aspect-ratio: 1;
  height:inherit;
  width: auto;
  background-image: url("images/menu.svg");

}


#export-button {
  aspect-ratio: 1;
  height: auto;
  width: auto;
  visibility: visible;
  background-image: url("images/export.svg");
}

#import-button {
  aspect-ratio: 1;
  height: auto;
  width: auto;
  background-image: url("images/import.svg");
}

#title {
  height: 1.7rem;
  width: 25ch;
  border: 2px solid #54B265;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  transition-duration: 0.4s;
  outline: none;
}

#title:focus {
    border-color: #33A5D2;
    transition-duration: 0.4s;
}

.time-section {
  margin-top: 1.1rem;
}

.start-button {
  background-image: url("images/start.svg");
}

.pause-button {
  background-image: url("images/pause.svg");
}

.remove-button {
  background-image: url("images/remove.svg");
}

.reset-button {
  background-image: url("images/reset.svg");
}

.card-button {
  aspect-ratio: 1;
  height:inherit;
  width: auto;
  margin: 0.0616rem 0.188rem;
}

.img-button {
  background-size: 100%;
  border: none;
  background-color: transparent;
  transition: filter 0.4s ease;
}

.img-button:hover {
    filter: drop-shadow(0px 0.188rem 0.188rem #363636);
}

.img-button:active {
    filter: drop-shadow(0px 0.0616rem 0.0616rem #363636);
    transition: filter 0.2s ease;
}

.tt-button-section {
  margin-top: 16px;
  height: 2.22rem;
}

.button-left {
  float: left;
  margin-left: 0px;
}

.button-right {
  float: right;
  margin-right: 0px;
}

.tt-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tt-list>li {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    border: 1px solid #54B265;
    border-radius: 2px;
    box-shadow: 0px 2px 5px grey;
    background-color: #ffffff;
    height: auto;
    width: auto;
}

.tt-list>li>div {
    margin: 0.33rem;
    height: auto;
    width: auto;
    border: solid;
    border-radius: 4px;
    border-color: #f2f2f2;
    padding: 0.5rem;
}
